
@{
    ViewBag.Title = "Pago_conf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h1_home"><b>Su orden fue procesada</b></h1>
<hr />
    <span class="alerta">@ViewBag.MessageAlert</span>
<br />
<div>

    <h2 class="confirmacion">@ViewBag.Message</h2>

    <br />
    <h2>Gracias por su compra!</h2>
    <br/>
    @using (Html.BeginForm("Index", "Home"))
    {<br />
        <input class="button" type="submit" value="Volver al Inicio" />
    }

</div>

<br />
<hr />

