
@{
    ViewBag.Title = "Artistas";
}
<head>
    <link href="~/Content/Formulario.css" rel="stylesheet" />
</head>

<body>
    <h1 style="text-align:center">Nuevo Artista</h1>
    <hr />
    <br />
    <div class="container">
        <form method="post" action="Create">
            <p>
                <label for="txtFirstName">Nombre:</label>
                <input name="txtFirstName" id="txtFirstName" type="text" maxlength="30" required />
            </p>
            <br />
            <p>
                <label for="txtLastName">Apellido:</label>
                <input name="txtLastName" id="txtLastName" type="text" maxlength="30" required />
            </p>
            <br />
            <p>
                <label for="txtLifeSpan">Edad:</label>
                <input name="txtLifeSpan" id="txtLifeSpan" type="number" maxlength="3" /> <br />
            </p>
            <br />
            <p>
                <label for="txtCountry">País:</label>
                <input name="txtCountry" id="txtCountry" type="text" maxlength="30" />
            </p>
            <br />
            <p>
                <label for="txtDescription">Descripción:</label> <br />
                <textarea id="txtDescription" name="txtDescription2" rows="10" cols="60"> </textarea>
            </p>
            <br />
            <p>
                <label ></label>
                <input class="button" type="submit" value="Guardar" />
            </p>
        </form>
    </div>
</body>