
@{
    ViewBag.Title = "ArtistasUser";
}
<h1 style="text-align:center">Artistas</h1>
<hr />
<br />
<h2 style="text-align:center">En esta vista tendremos el listado de los artistas de los cuales contamos con obras para comercializar</h2>

