@model List<art_shop_core.EntityFramework.Product>
   @{ViewBag.Title = "Galeria";
}

<h2>Galeria</h2>

<div>
    <h2><b>Títuo de la Imágen</b></h2><br />

</div>

<div style="max-width=30px">

    @foreach (var elemento in Model)
    { 
         <img src="~/content/images/@(elemento.Image)" > 
         <br />
         <p>@elemento.Image</p>

        <input type="checkbox" />
      
    }

</div>

</div>
<div id="resultado">

</div>



