@model List<art_shop_core.EntityFramework.Product>
@{ViewBag.Title = "Galeria";
}

<h1 style="text-align:center"><b>Galeria</b></h1>
<hr />
<div style="width:100%">

    @foreach (var elemento in Model)
    {
<div class="contimagenes">

    <img src="~/content/images/@(elemento.Image)" class="imagengal">

    <p>@elemento.Image</p>

    <!-- <input type="checkbox"  />-->
    <br />
    <input type="button" name="Agregar" value="Agregar al Carrito" />
</div>            }

</div>




