
@{
    ViewBag.Title = "Galeria";
}

<h2>Galeria</h2>

<div id="images">
    <h2><b>Título de la Imágen</b></h2><br />
    <img src="/content/images\la_persistencia_de_la_memoria-Salvador_Dali.jpg" alt="la_persistencia_de_la_memoria-Salvador_Dali" title="la_persistencia_de_la_memoria-Salvador_Dali" />
</div>

