@model List<art_shop_core.EntityFramework.Product>
   @{ViewBag.Title = "Galeria";
}

<h2>Galeria</h2>

<div id="container">
    <h2><b>Título de la Imágen</b></h2><br />

</div>

<div>

    @foreach (var elemento in Model)
    { 
         <img src="~/content/images/@(elemento.Image)"> 
         <br />
         <p>@elemento.Image</p>
       
    }

</div>

</div>
<div id="resultado">

</div>



