@{ ViewBag.Title = "Inicio"; }


<h1>Lenguajes de Programación para la Administración</h1>
<h2>Datos de la Asignatura</h2>

<div id="siteHeader">
    <ul>
        <li>Lenguajes de Programación para la Administración</li>
        <li><span>Autor:</span> Victor Hugo</li>
        <li><span>Editorial:</span> UAI </li>
        <li><span>Año de publicación:</span> 2020</li>
    </ul>

    

    <h2>Descripción del libro</h2>

    <p>
        Aunque los inicios de <strong>Internet</strong> se remontan a los años <span class="micolor">sesenta</span>  , no ha sido hasta los años noventa cuando, gracias a la <strong>Web</strong>, se ha extendido su uso por todo el mundo. En pocos años, la <strong>Web</strong> ha evolucionado enormemente: se ha pasado de páginas sencillas, con pocas imágenes y contenidos estáticos que eran visitadas por unos pocos usuarios a páginas complejas, con contenidos dinámicos que provienen de bases de datos y que son visitadas por miles de usuarios al mismo tiempo.
    </p>

    <p>
        Todas las páginas están internamente construidas con la misma tecnología, con el Lenguaje de marcas de hipertexto (<em>Hypertext Markup Language, HTML</em>) y con las Hojas de estilo en cascada (<em>Cascading Style Sheets, CSS</em>).
    </p>

    <h2>Contenido del libro</h2>

    <p>
        El contenido de este libro se estructura en tres apartados bien diferenciados:
    </p>

    <ul>
        <li>En la primera parte del libro se trabajan conceptos generales que son necesarios para poder desarrollar páginas web; se explican conceptos de estructura física y estructura lógica (o estructura de navegación) de un sitio web. Se detalla cómo influye la estructura física en las <em>URL</em> o direcciones que se emplean a la hora de crear los enlaces de un sitio web. Pasando por el concepto de "estándar web", un término general que se emplea para refererirse a los estándares que define su funcionamiento como <em>HTML</em> y <em>CSS</em>, empleados para el desarrollo de las páginas web en el lado del cliente.</li>


    </ul>

</div>