<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Test" connectionString="data source={connectionName};initial catalog={databaseName};integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
    <add name="somee2" connectionString="data source=edu-spark-art.mssql.somee.com;initial catalog=edu-spark-art;user id=emmaleardi2_SQLLogin_2;pwd=vjq6rujdjw" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>