<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Spark Art</title>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <!-- Cabecera -->
        <header>
            <img class="logo-header" src="~/Content/images/logo.gif" alt="Logo" />
            <nav class="menu-nav">
                <ul>
                    <li><a href="/">Inicio</a> </li>
                    <li><a href="/Home/Contact">Contacto</a> </li>
                    <li><a href="/Home/About">Nosotros</a> </li>
                    <li><a href="/Home/ArtistasUser">Artistas</a> </li>
                    <li><a href="/Home/Galeria">Galería</a> </li> 
                </ul>
            </nav>
        </header>
    <!-- Contenido -->
                    <section>
                        <article>
                            @RenderBody()
                        </article>
                    </section>

                    <!-- Contenido relacionado-->
                    <aside class="aside">
                        <article>
                            <div>
                                <h3 style="text-align:center">Menú</h3>
                                <br />
                                <nav class="menu-nav-aside">
                                    <ul>
                                        <li><a  href="/Home/ArtistasUser">Artistas</a><br /><br /> </li>
                                        <li><a href="/Home/Galeria">Galería</a> </li>
                                    </ul>
                                </nav>
                            </div>
                            <hr />
                            <br />
                            <br />
                            <div>
                                <h3>Menú Administrador</h3>
                                <h5>Este menú se verá solo ingresando como administrador</h5>
                                <div class="menu-nav-aside">
                                    <ul>
                                        <li><a href="/Home/Artistas">ABM Artistas</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>

                    </aside>
                    <!-- Pie de pagina -->
                    <footer>
                        <div>
                            <div class="footer">

                                <div class="footer-logo">
                                    <img class="logo-footer" src="/content/images/logo.gif" alt="Logo de la Institución" />
                                </div>
                                <div class="footer-text">
                                    <p>
                                        Teléfono:  +54 11 4433 5566
                                        <br />
                                        Dirección:  Suipacha 1234
                                        <br />
                                        Retiro. Buenos Aires, Argentina.
                                        <br />
                                        spark-art@spark-art.com
                                    </p>
                                </div>
                            </div>



                        </div>

                    </footer>
</div>
    @RenderSection("scripts", required: false)
</body>
</html>