
html, body {
    height: 100%;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

/*p {
    text-align: justify;
}*/


h1 {
    font-family: Verdana, Calibri, sans-serif;
    font-size: 1.2em
}

h2 {
    font-family: Verdana, Calibri, sans-serif;
    font-size: 1.1em
}

span {
    color: #060;
}

strong {
    font-size: 20px;
}

em {
    color: #FFF;
    background-color: #7d99e0;
}


.h1_home {
    font-family: 'Crimson Text',serif;
    font-size: 30px;
    line-height: 1em;
    font-weight: 600;
    margin-bottom: 20px;
    text-align-last: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.p_home {
    font-size: 16px;
    line-height: 1.7em;
    color: #444;
    text-align: center;
}
#container {
    width: 1080px;
    margin: 0 auto;
}
.logo-header {
    width: 150px;
    height: 40px;
    margin-left: 43%;
    margin-top: 10px;
    padding-bottom: 10px;
}

.logo-footer {
    width: 150px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10%;
}

/*
.menu-nav{
    margin-left:35%
}
*/
nav ul {
    margin: 0;
    padding: 0;
}

    nav ul li {
        list-style: none;
        display: inline;
    }

        nav ul li > a {
            padding: 5px;
            text-decoration: none;
            background-color: burlywood;
            border-radius: 5px;
            margin-left: 5px;
        }

.menu-nav-aside {
    margin-left: 10px;
    list-style: none;
}


header {
    display: block;
    background-color: bisque;
    padding: 10px 0px;
}

section {
    background-color: #fafafa;
    padding: 5px;
    overflow: auto;
    /*float: left;*/
    float: right;
    width: 79%;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 450px;
}

aside {
    /*float: right;*/
    float: left;
    width: 19%;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    clear: both;
    position: relative;
    height: 150px;
    background-color: bisque;
    text-align: center;
    color: black;
}

.footer-logo {
    width: 30%;
    height: 80px;
    float: left;
}

.footer-text{
    width:60%;
    float:right;
    text-align: left;
}

.contimagenes {
    margin: 1em;
    padding: 1em;
    float: left;
    text-align: center;
    align-items: center;
    border-radius: 20px;
}

.imagengal {
    max-height: 160px;
    float: left;
    box-shadow: 5px 5px 10px;
    padding: 10px;
    border: 1px solid:#808080;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 20px;
    float: none;
}
