@{
    ViewBag.Title = "About";
}
<h1 class="h1_home">Nosotros</h1> <!--style="text-align:center"-->
<hr />
<p>
    Hoy en día la galería cuenta con más de 40 años de trayectoria intensa y reconocida dentro del mercado de arte latinoamericano.

    En nuestras salas se exhibieron obras relevantes y significativas de la plástica argentina , además de ser una de las galerías que hizo las veces de semillero para aquellos artistas que hoy son considerados grandes maestros contemporáneos, consagrados y respetados.

    Las obras pertenecientes a las exhibiciones temporales se pueden adquirir, como tambien las obras en trastienda. Cabe destacar que la galería posee una de las trastiendas mas importantes del país, con un gran variedad de artistas argentinos y latinoamericanos. Todas las obras poseen certificado de autenticidad.
</p>
