@{
    ViewBag.Title = "Artistas";
}
<h1 class="h1_home">Artistas</h1>
<hr />
<p>
    Actualmente contamos con obras de los siguientes artistas:
</p>

<div>
    <ol>
        <li>Sandro Botticelli</li>
        <li>Leonardo Da Vinci</li>
        <li>Edgar Degas</li>
        <li>Frida Khalo</li>
        <li>Édouard Manet</li>
        <li>Miguel Ángel</li>
        <li>Pablo Picasso</li>
        <li>Vincent Van Gogh</li>
    </ol>
</div>
