@{
    ViewBag.Title = "Contact";
}
<h1 class="h1_home">Nuestros datos de contacto</h1>
<hr />
<address>
    <p>
        <br />
        Teléfono:  +54 11 4433 5566
        <br />
        Dirección:  Suipacha 1234
        <br />
        Retiro. Buenos Aires, Argentina.
        <br />
        spark-art@spark-art.com
    </p>
</address>