@{
    ViewBag.Title = "Principal";
}
<div class="post">
    <h1 class="h1_home">Arte actual <br /> contra la uniformidad de las paredes</h1>
    <div class="entry">
        <p class="p_home">
            Una pared vacía es como un gran signo de interrogación... Cuando eliges un cuadro para decorar y lo cuelgas, también fijas tus gustos y expresas tu personalidad ante las visitas, invitados, clientes…
        </p>
    </div>
</div>